.job-card
    height: 30px

    .post-date
        display: flex
        align-items: center
        padding: 5px 10px
        border: 1px solid var(--base-grey-color)
        border-radius: 5px
        width: fit-content

        img.hourglass-image
           height: 12px
           margin-right: 5px

        p.post-time
            font-size: 12px