.jobs{
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 20px; /* Gap between rows and columns */
  /* width: fit-content; */
  justify-content: center;
}